In [6]:
#GSE25011
#GSE1563

import GEOparse

gse = GEOparse.get_GEO(filepath="./GDS4088.soft.gz")#(geo="GSE1563", destdir="./")

18-Sep-2019 18:16:59 INFO GEOparse - Parsing ./GDS4088.soft.gz:
18-Sep-2019 18:16:59 DEBUG GEOparse - DATABASE: Geo
18-Sep-2019 18:16:59 DEBUG GEOparse - DATASET: GDS4088
18-Sep-2019 18:16:59 DEBUG GEOparse - SUBSET: GDS4088_1
18-Sep-2019 18:16:59 DEBUG GEOparse - SUBSET: GDS4088_2
18-Sep-2019 18:16:59 DEBUG GEOparse - SUBSET: GDS4088_3
18-Sep-2019 18:16:59 DEBUG GEOparse - SUBSET: GDS4088_4
18-Sep-2019 18:16:59 DEBUG GEOparse - SUBSET: GDS4088_5
18-Sep-2019 18:16:59 DEBUG GEOparse - SUBSET: GDS4088_6
18-Sep-2019 18:16:59 DEBUG GEOparse - SUBSET: GDS4088_7
18-Sep-2019 18:16:59 DEBUG GEOparse - SUBSET: GDS4088_8
18-Sep-2019 18:16:59 DEBUG GEOparse - SUBSET: GDS4088_9
18-Sep-2019 18:16:59 DEBUG GEOparse - SUBSET: GDS4088_10
18-Sep-2019 18:16:59 DEBUG GEOparse - SUBSET: GDS4088_11
18-Sep-2019 18:16:59 DEBUG GEOparse - SUBSET: GDS4088_12
18-Sep-2019 18:16:59 DEBUG GEOparse - SUBSET: GDS4088_13
18-Sep-2019 18:16:59 DEBUG GEOparse - SUBSET: GDS4088_14
18-Sep-2019 18:16:59 DEBUG GEOparse - SUBSET: GDS4088_15
18-Sep-2019 18:16:59 DEBUG GEOparse - SUBSET: GDS4088_16
18-Sep-2019 18:16:59 DEBUG GEOparse - SUBSET: GDS4088_17
18-Sep-2019 18:16:59 DEBUG GEOparse - SUBSET: GDS4088_18
18-Sep-2019 18:16:59 DEBUG GEOparse - SUBSET: GDS4088_19
18-Sep-2019 18:16:59 DEBUG GEOparse - SUBSET: GDS4088_20
18-Sep-2019 18:16:59 DEBUG GEOparse - SUBSET: GDS4088_21
18-Sep-2019 18:16:59 DEBUG GEOparse - SUBSET: GDS4088_22
18-Sep-2019 18:16:59 DEBUG GEOparse - SUBSET: GDS4088_23
18-Sep-2019 18:16:59 DEBUG GEOparse - SUBSET: GDS4088_24
18-Sep-2019 18:16:59 DEBUG GEOparse - SUBSET: GDS4088_25
18-Sep-2019 18:16:59 DEBUG GEOparse - SUBSET: GDS4088_26
18-Sep-2019 18:16:59 DEBUG GEOparse - SUBSET: GDS4088_27
18-Sep-2019 18:16:59 DEBUG GEOparse - SUBSET: GDS4088_28
18-Sep-2019 18:16:59 DEBUG GEOparse - SUBSET: GDS4088_29
18-Sep-2019 18:16:59 DEBUG GEOparse - SUBSET: GDS4088_30
18-Sep-2019 18:16:59 DEBUG GEOparse - SUBSET: GDS4088_31
18-Sep-2019 18:16:59 DEBUG GEOparse - SUBSET: GDS4088_32
18-Sep-2019 18:16:59 DEBUG GEOparse - SUBSET: GDS4088_33
18-Sep-2019 18:16:59 DEBUG GEOparse - SUBSET: GDS4088_34
18-Sep-2019 18:16:59 DEBUG GEOparse - SUBSET: GDS4088_35
18-Sep-2019 18:16:59 DEBUG GEOparse - SUBSET: GDS4088_36
18-Sep-2019 18:16:59 DEBUG GEOparse - SUBSET: GDS4088_37
18-Sep-2019 18:16:59 DEBUG GEOparse - SUBSET: GDS4088_38
18-Sep-2019 18:16:59 DEBUG GEOparse - SUBSET: GDS4088_39
18-Sep-2019 18:16:59 DEBUG GEOparse - SUBSET: GDS4088_40
18-Sep-2019 18:16:59 DEBUG GEOparse - SUBSET: GDS4088_41
18-Sep-2019 18:16:59 DEBUG GEOparse - SUBSET: GDS4088_42
18-Sep-2019 18:16:59 DEBUG GEOparse - SUBSET: GDS4088_43
18-Sep-2019 18:16:59 DEBUG GEOparse - SUBSET: GDS4088_44
18-Sep-2019 18:16:59 DEBUG GEOparse - SUBSET: GDS4088_45
18-Sep-2019 18:16:59 DEBUG GEOparse - SUBSET: GDS4088_46
18-Sep-2019 18:16:59 DEBUG GEOparse - SUBSET: GDS4088_47
18-Sep-2019 18:16:59 DEBUG GEOparse - SUBSET: GDS4088_48
18-Sep-2019 18:16:59 DEBUG GEOparse - SUBSET: GDS4088_49
18-Sep-2019 18:16:59 DEBUG GEOparse - SUBSET: GDS4088_50
18-Sep-2019 18:16:59 DEBUG GEOparse - SUBSET: GDS4088_51
18-Sep-2019 18:16:59 DEBUG GEOparse - SUBSET: GDS4088_52
18-Sep-2019 18:16:59 DEBUG GEOparse - SUBSET: GDS4088_53
18-Sep-2019 18:16:59 DEBUG GEOparse - SUBSET: GDS4088_54
18-Sep-2019 18:16:59 DEBUG GEOparse - DATASET: GDS4088

In [16]:
gse.columns

,description,individual,protocol,time,other
GSM614415,Value for GSM614415: MD40-T0; src: breast canc...,MD40,RNAlater,baseline,RIN 8.6
GSM614416,Value for GSM614416: MD40-T20; src: breast can...,MD40,RNAlater,20 min,RIN 8.6
GSM614417,Value for GSM614417: MD40-T40; src: breast can...,MD40,RNAlater,40 min,RIN 8.5
GSM614418,Value for GSM614418: MD40-T60; src: breast can...,MD40,RNAlater,60 min,RIN 8.7
GSM614419,Value for GSM614419: MD40-T120; src: breast ca...,MD40,RNAlater,120 min,RIN 7.4
...,...,...,...,...,...
GSM614472,Value for GSM614472: MD71-T60; src: breast can...,MD71,RNAlater,60 min,RIN 8.4
GSM614473,Value for GSM614473: MD71-T120; src: breast ca...,MD71,RNAlater,120 min,RIN 9.2
GSM614474,Value for GSM614474: MD71-T180; src: breast ca...,MD71,RNAlater,180 min,RIN 8.5
GSM614475,Value for GSM614475: MD71-T0-F (no RNAlater); ...,MD71,flash frozen,baseline,RIN 7.1
GSM614476,Value for GSM614476: MD71-T40-F (no RNAlater);...,MD71,flash frozen,40 min,RIN 7.3

In [11]:
import pylab as pl

In [14]:
import seaborn as sns

In [15]:
pl.rcParams['figure.figsize'] = (14, 10)
pl.rcParams['ytick.labelsize'] = 12
pl.rcParams['xtick.labelsize'] = 11
pl.rcParams['axes.labelsize'] = 23
pl.rcParams['legend.fontsize'] = 20
sns.set_style('ticks')
c1, c2, c3, c4 = sns.color_palette("Set1", 4)

In [ ]:
controls = [
    'GSM614415',
    'GSM614416',
    'GSM614417',
    'GSM614418',
    'GSM614419',
    'GSM614420',
    'GSM614421',
    
]

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('mergedIQR.csv')

In [14]:
df.iloc[1:10, -1]

1    0
2    1
3    0
4    1
5    1
6    0
7    0
8    0
9    1
Name: class, dtype: int64

In [24]:
X = df.iloc[0:, 1:-1]

In [25]:
X

,SCGB2A2,SCGB1D2,MUCL1,TFF1,PIP,GSTM1,CYP2B7P1,CPB1,TFAP2B,LTF,...,PPIG,LOC100125556,EXOC4,TEC,TUSC2,MYOM3,TRIT1,OTUD7A,USP27X,ARPM1
0,6.264924,3.745510,3.040311,10.321371,5.714783,7.000101,5.462541,1.060806,5.150125,8.303995,...,6.279500,2.974369,6.103617,1.162870,5.625750,0.982887,4.621227,1.092139,3.015023,2.082195
1,0.663612,2.215498,0.093045,0.000000,0.226101,0.845778,0.000000,1.454384,0.016199,0.933642,...,4.932764,1.114474,6.057193,0.631284,5.197505,7.838831,2.951545,0.618659,1.580884,0.573295
2,4.825857,4.460636,3.672153,11.251782,14.784902,8.705960,11.628426,1.847143,5.251425,13.555968,...,6.416836,3.720114,5.011498,2.406791,6.104857,0.418456,4.724528,0.240716,2.813625,1.398472
3,10.725812,7.803996,12.515606,2.734748,10.514619,0.617061,1.792152,3.692405,4.329836,11.058127,...,5.914248,2.753465,6.242507,1.401838,5.202560,1.264904,4.925310,0.686969,3.282911,2.033710
4,0.322285,1.801709,1.570490,0.674394,1.113350,2.203295,0.119504,0.156725,1.214845,3.085069,...,7.249189,2.280394,5.744025,1.045780,4.999009,0.148379,5.149910,0.731973,3.269622,3.732895
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221,3.940710,2.305499,5.603555,10.511699,10.163894,0.538384,6.568058,13.195934,4.304922,6.465226,...,5.931752,3.036985,5.739230,1.116458,5.820741,0.626900,3.512426,0.970383,3.026745,2.237821
222,12.793072,10.130339,10.792847,9.540363,9.559100,0.993864,1.549732,3.417247,4.918254,10.782298,...,4.714441,2.825980,4.938198,1.069941,5.944156,0.510715,3.990030,0.630602,1.847157,1.474407
223,4.652332,3.530492,1.508318,0.426305,1.940593,7.007359,1.914802,3.613250,0.692070,5.399014,...,5.841457,1.566242,6.175997,1.566785,5.381756,0.291109,3.960901,1.176532,2.412553,2.647025
224,11.819621,7.804764,4.031920,1.953556,5.419510,3.919253,2.441710,1.020607,6.741998,4.084490,...,6.994606,4.233699,6.870091,2.086150,5.414654,0.766157,5.321451,1.241896,2.729123,1.719730
225,9.383016,6.850252,10.225595,11.801449,6.821219,6.788511,8.670607,0.708943,5.661090,7.823618,...,6.813141,3.080292,6.175582,2.274766,5.383463,1.059347,5.670023,0.919895,3.395905,2.222653

In [26]:
y = df.iloc[:, -1]

In [ ]:
import time
from sklearn.feature_selection import RFE
from sklearn.svm import SVR

startTime = time.time()

estimator = SVR(kernel="linear")
selector = RFE(estimator, 5, step=1)
selector = selector.fit(X, y)

endTime = time.time()

elapsedTime = endTime - startTime

print("Time passed:", elapsedTime)

In [ ]:
selector.support_ 
selector.ranking_

In [1]:
import pandas as pd

df = pd.read_csv("c:/Users/Pichau/Desktop/coisa.csv")

In [2]:
df

         attScores
SCGB2A2   0.236797
SCGB1D2   0.047829
MUCL1     0.319181
TFF1      0.631777
PIP       0.319181
...            ...
MYOM3     0.103572
TRIT1     0.432538
OTUD7A    0.264098
USP27X    0.124511
ARPM1     0.124511

[14021 rows x 1 columns]

In [4]:
df.sort_values(by=['attScores'], ascending=False)

           attScores
SYNGR3           1.0
NIPSNAP3B        1.0
MTMR9            1.0
C22orf39         1.0
NDRG2            1.0
...              ...
MIR4742         -inf
MIR4792         -inf
MIR4256         -inf
MIR4261         -inf
MIR3687         -inf

[14021 rows x 1 columns]

In [16]:
rankValues = list(range(1,len(df)+1))

In [17]:
df['rank']=rankValues

In [18]:
df

         attScores   rank
SCGB2A2   0.236797      1
SCGB1D2   0.047829      2
MUCL1     0.319181      3
TFF1      0.631777      4
PIP       0.319181      5
...            ...    ...
MYOM3     0.103572  14017
TRIT1     0.432538  14018
OTUD7A    0.264098  14019
USP27X    0.124511  14020
ARPM1     0.124511  14021

[14021 rows x 2 columns]

In [21]:
rank = df.drop(columns="attScores")

In [22]:
rank

          rank
SCGB2A2      1
SCGB1D2      2
MUCL1        3
TFF1         4
PIP          5
...        ...
MYOM3    14017
TRIT1    14018
OTUD7A   14019
USP27X   14020
ARPM1    14021

[14021 rows x 1 columns]